body {
    background-color: white;
    font-family: 'Source Sans 3', sans-serif;
    background-image: url(./Images/overlay2.png), url(./Images/overlay3.svg), linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
    background-color: white;
    background-size: 100% 650px;
    background-repeat: no-repeat;
    margin: 0px;
}

/* Header section starts here */
#HeaderSection {
    text-align: center;
    margin-top: 110px;
    margin-bottom: 20px;
}

.fa.fa-cloud {
    color: white;
    font-size: 85px;
}

#HeaderSection h1 {
    color: white;
    font-size: 43px;
    font-weight: 100;
    margin-top: 13px;
}

#HeaderSection h1 a {
    color: white;
    text-decoration: none;
    border-bottom: 1px dotted white;
}

#HeaderSection p {
    margin-top: -10px;
    font-size: 19px;
    color: white;
    font-weight: 100;
}

#HeaderSection button {
    color: #ffffff;
    background-color: transparent;
    font-size: 15px;
    letter-spacing: 2px;
    margin-top: 30px;
    border: 1.5px solid white;
    border-radius: 5px;
    padding: 14px 35px;
}

.vertical-line {
    height: 150px !important;
    width: 0px !important;
    border: 1px solid white;
    position: relative;
    left: 620px;

}

/* Header section ends here */

/* Description Section starts here */
#DescriptionSection {
    color: black;
    display: inline-block;
    background-color: white;
    width: 100%;
    margin-top: 110px;
}

#DescDiv {
    width: 45%;
    display: inline-block;
    /* margin-left: 54px; */
    position: relative;
    top: -85px;
    margin: 0px 0px 0px 54px;
}

#DescriptionSection h1 {
    font-size: 37px;
    font-weight: 100;
}

#DescriptionSection p {
    font-size: 19px;
}

#bottomline {
    width: 110px;
    border: 0.5px solid #d7d3d3;
    line-height: 100;
}

#DescriptionSection img {
    width: 42%;
    display: inline-block;
    position: relative;
    left: 35px;
    top: -25px;
    border-radius: 5px;
    /* size: 400px 300px; */
}


/* Description Section ends here */


/* Icon Section starts here */
#IconSection {
    background-color: #333;
    color: rgba(255, 255, 255, 0.75);
    background-attachment: fixed fixed;
    background-image: url(./Images/backg.jpg), url(./Images/headers.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 101%;
    display: inline-block;
    height: 900px;
    margin-top: 45px;
    margin-left: -8px;

}

#Icondiv {
    display: inline-block;
    width: 52%;
    margin-top: 100px;
}

#PDiv {
    display: inline-block;
    width: 45%;
    margin-top: 100px;
}

.fa.fa-code {
    font-size: 90px;
    font-weight: 900;
    color: #c3e895;
    position: relative;
    top: -445px;
    left: 150px;
    border: transparent;
}

#Icondiv1 {
    width: 140px;
    height: 140px;
    border: 1px solid white;
    transform: rotate(45deg);
    position: relative;
    top: -560px;
    left: 132px;
    border-radius: 5px;
}

.fa.fa-bolt {
    font-size: 100px;
    font-weight: 900;
    color: #8addaa;
    position: relative;
    top: -442px;
    left: 314px;
}

#Icondiv2 {
    width: 140px;
    height: 140px;
    border: 1px solid white;
    transform: rotate(45deg);
    position: relative;
    top: -701px;
    left: 365px;
    border-radius: 5px;
}

.fa.fa-camera-retro {
    font-size: 70px;
    font-weight: 900;
    color: #6bd4c8;
    position: relative;
    top: -220px;
    left: 15px;
    border: transparent;
}

#Icondiv3 {
    width: 140px;
    height: 140px;
    border: 1px solid white;
    transform: rotate(45deg);
    position: relative;
    top: -613px;
    left: 132px;
    border-radius: 5px;
}

.fa.fa-cog {
    font-size: 80px;
    font-weight: 900;
    color: #57aed3;
    position: relative;
    top: -220px;
    left: 176px;
    border: transparent;
}

#Icondiv4 {
    width: 140px;
    height: 140px;
    border: 1px solid white;
    transform: rotate(45deg);
    position: relative;
    top: -755px;
    left: 366px;
    border-radius: 5px;
}

.fa.fa-calendar-o {
    font-size: 75px;
    font-weight: 900;
    color: #6b88e6;
    position: relative;
    top: 5px;
    left: 15px;
    border: transparent;
}

#Icondiv5 {
    width: 140px;
    height: 140px;
    border: 1px solid white;
    transform: rotate(45deg);
    position: relative;
    top: -665px;
    left: 366px;
    border-radius: 5px;
}

.fa.fa-television {
    font-size: 77px;
    font-weight: 900;
    color: #4a87d3;
    position: relative;
    top: 16px;
    left: -136px;
    border: transparent;
}

#Icondiv6 {
    width: 140px;
    height: 140px;
    border: 1px solid white;
    transform: rotate(45deg);
    position: relative;
    top: -806px;
    left: 132px;
    border-radius: 5px;
}

#PDiv h1 {
    font-size: 37px;
    font-weight: 100;
}

#bottomline1 {
    width: 110px;
    border: 0.5px solid #d7d3d3;
    line-height: 100;
}

#PDiv p {
    font-size: 18px;
    padding-bottom: 10px;
}


/* Icon Section ends here */

/* Image Section starts here */
#ImageSection {
    background-color: white;
    color: #5b5b5b;
    display: inline-block;
    width: 100%;
}

#Imgh1 {
    font-size: 35px;
    margin-top: 115px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 900;
    margin-bottom: 15px;
}

#bottomline2 {
    width: 110px !important;
    border: 0.5px solid #d7d3d3;
    position: relative;
    left: 570px;
    line-height: 100;
}

#Imgp {
    font-size: 19px;
    font-weight: 900;
    text-align: center;
    margin: 15px 0px 40px 0px;
}

#ImageSection div {
    display: inline-block;
    width: 26%;
    padding-left: 64px;
}

#ImageSection div img {
    width: 335px;
    border-radius: 5px;
}

.ImgDivh1 {
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    padding: 10px 0px 0px 0px;
}

.ImgDivp {
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    padding: 10px 0px;
}

#ImageSection button {
    margin-left: 110px;
    background-color: white;
    border: 1.5px solid #d1d1d1;
    border-radius: 5px;
    padding: 15px 37px;
    letter-spacing: 2px;
}

/* Image Section ends here */

/* Footer Section starts here */
#FootDiv1 {
    background-image: url(./Images/overlay1.png), url(./Images/header.jpg);
    height: 440px;
    background-size: 100%;
    background-attachment: fixed;
    color: white;
    text-align: center;
    margin-top: 100px;
    width: 100%;
}

#FooterSection h1 {
    font-size: 38px;
    font-weight: 100;
    padding-top: 120px;
}

#bottomline3 {
    width: 110px !important;
    border: 0.5px solid #d7d3d3;
    position: relative;
    left: 570px;
    line-height: 100;
}

#FooterSection p {
    font-size: 19px;
    margin-top: 30px;
}

#Button1 {
    font-size: 16px;
    letter-spacing: 2px;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 15px 60px;
    margin-top: 13px;
}

#Button2 {
    font-size: 16px;
    letter-spacing: 2px;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    padding: 14px 41px;
    color: rgb(255, 255, 255) !important;
    margin-left: 18px;
    margin-top: 13px;
}

#FootDiv2 {
    background-image: url(./Images/overlay3.svg), url(./Images/overlay2.png), linear-gradient(45deg, #4361c2 5%, #4fa49a 50%, #9dc66b);
    height: 300px;
    background-size: 100%;
    background-attachment: fixed;
    margin-top: -16px;
    text-align: center;
}

#FooterSection i {
    margin-top: 100px;
    color: #d2e4e7;
    font-size: 30px;
    padding-right: 25px;
}

#FooterSection ul {
    margin-left: -40px;
}

#Div1 {
    height: 12px !important;
    border: 0.5px solid rgba(255, 255, 255, 0.75);
    position: relative;
    left: 10px;
    display: inline-block;
}

#Div2 {
    height: 12px !important;
    border: 0.5px solid rgba(255, 255, 255, 0.75);
    position: relative;
    left: 10px;
    display: inline-block;
}

#FooterSection li {
    display: inline-block;
    color: rgba(255, 255, 255, 0.75) !important;
    padding-left: 20px;
    margin-top: 20px;

}

/* Footer Section ends here  */